body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 82, 86);
}
.form-container{
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(213, 120, 120);
    box-shadow: 0 0 10px black;
}